<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>User</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>AdminUser</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>AdminPass</param-name>
        <param-value>admin</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>AccessFilter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminPages/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>displayProduct</servlet-name>
        <servlet-class>servlets.DisplayProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCategory</servlet-name>
        <servlet-class>servlets.ShowCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>servlets.ViewProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayProduct</servlet-name>
        <url-pattern>/displayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCategory</servlet-name>
        <url-pattern>/showCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <location>/general-error.html</location>
        <error-page>
            <error-code>404</error-code>
            <location>/Error404.html</location>
        </error-page>
    </error-page>
</web-app>
