<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>displayProduct</servlet-name>
        <servlet-class>servlets.DisplayProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCategory</servlet-name>
        <servlet-class>servlets.ShowCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>servlets.ViewProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayProduct</servlet-name>
        <url-pattern>/displayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCategory</servlet-name>
        <url-pattern>/showCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
